<!-- Created by Manasés Galindo on 09/12/16 -->

<div ng-show="$root.showLogin" ng-include="'components/topbar/login-form.html'"></div>
<div ng-show="$root.showSignup" ng-include="'components/topbar/signup-form.html'"></div>
<!-- div ng-show="$root.showPost" ng-include="'components/topbar/post-apartment.html'"></div -->
<div ng-include="'components/topbar/topbar.html'"></div>
<div id="profile" class="bottom" ng-controller="adminController">
	<div class="center">
		<div class="flex" id="profile-top">
			<h4>Welcome almighty {{ $root.getFullName() }}</h4>
			<p ng-click="$root.logout()" class="red-color pointer">Logout</p>
		</div>
		<!-- button ng-click="$root.postApartment()" class="button green large">Post an apartment</button -->
		<img src="/images/preloader.gif" class="preloader" ng-show="loadingUsers" />

        <p class="admin-quote"><em>Whosoever holds this account, if he be worthy, shall possess the power of Administrator</em></p>
        <br>

        <div id="controls" class="flex">
            <div id="select-views" class="flex center-opts">
                <div ng-class="{active: view == 'users'}" ng-click="view = 'users'">Users</div>
                <div ng-class="{active: view == 'depas'}" ng-click="view = 'depas'">Offers</div>
            </div>
        </div>

		<div id="users-view"  ng-if="view == 'users'" ng-show="allUsers.length > 0">
			<h3>Users ({{ allUsers.length - 1 }})</h3>
			<table class="contents">
				<thead>
					<tr>
						<th>email</th>
						<th>Full Name</th>
						<th>Address</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="auser in allUsers" ng-show="auser.email != $root.getEmail()">
						<td ng-class="{disabled: auser.is_active == '0'}">{{ auser.email }}</td>
						<td ng-class="{disabled: auser.is_active == '0'}">{{ auser.first_name }} {{ auser.last_name }}</td>
                        <td ng-class="{disabled: auser.is_active == '0'}">{{ auser.address }}, {{ auser.city }}</td>
						<td ng-click="$root.toggleUser(auser.uid, auser.is_active)" class="red-color pointer">
                            <span ng-class="{enable: auser.is_active == '0'}">{{ auser.is_active == 1 ? 'Disable' : 'Enable' }}</span>
                        </td>
					</tr>
				</tbody>
			</table>
		</div>
        <div id="depas-view"  ng-if="view == 'depas'" ng-show="apartments.length > 0">
            <h3>Offers ({{ apartments.length }})</h3>
            <table class="contents">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Address</th>
                    <th>Posted On</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="apartment in apartments">
                    <td>{{ apartment.title }}</td>
                    <td>{{ apartment.address_line_1 }}, {{ apartment.city }}, {{ apartment.state }} {{ apartment.zip }}</td>
                    <td>{{ apartment.created_at }}</td>
                    <td ng-click="$root.deleteApartment(apartment.id)" class="red-color pointer">Remove</td>
                </tr>
                </tbody>
            </table>
        </div>
	</div>
</div>