<div ng-show="$root.showLogin" ng-include="'components/topbar/login-form.html'"></div>
<div ng-show="$root.showSignup" ng-include="'components/topbar/signup-form.html'"></div>
<div ng-show="$root.showPost" ng-include="'components/topbar/post-apartment.html'"></div>
<div ng-include="'components/topbar/topbar.html'"></div>
<div id="profile" class="bottom" ng-controller="homeController">
	<div class="center">
		<div class="flex" id="profile-top">
			<h1>Profile ({{ $root.getEmail() }})</h1>
			<p ng-click="$root.logout()" class="red-color">Logout</p>	
		</div>
		<button ng-click="$root.postApartment()" class="button green large">Post an apartment</button>
		<img src="/images/preloader.gif" class="preloader" ng-show="loadingOwnerApartments" />
		<div ng-show="ownerApartments.length > 0">
			<h3>My apartments</h3>
			<table id="my-apartments">
				<thead>
					<tr>
						<th>Title</th>
						<th>Address</th>
						<th>Posted On</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="apartment in ownerApartments">
						<td>{{ apartment.title }}</td>
						<td>{{ apartment.address_line_1 }}, {{ apartment.city }}, {{ apartment.state }} {{ apartment.zip }}</td>
						<td>{{ apartment.created_at }}</td>
						<td ng-click="$root.deleteApartment(apartment.id)" class="red-color">Remove</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>