<!-- Created by SFSU             -->
<!-- Modified by Manasés Galindo, Anil Manzoor -->

<div ng-show="$root.showLogin" ng-include="'components/topbar/login-form.html'"></div>
<div ng-show="$root.showSignup" ng-include="'components/topbar/signup-form.html'"></div>
<div ng-show="$root.showPost" ng-include="'components/topbar/post-apartment.html'"></div>
<div ng-include="'components/topbar/topbar.html'"></div>
<div id="profile" class="bottom" ng-controller="homeController">
	<div class="center">
		<div class="flex" id="profile-top">
			<h4>{{ $root.getFullName() }}'s Profile</h4>
			<p ng-click="$root.logout()" class="red-color pointer">Logout</p>
		</div>
            <form novalidate>
            <table>
                <tr>
                 <td style="width: 150px">Email:</td>
                 <td> <p> {{ user_profile.email }}</p>
                </tr>
                <tr>
                 <td style="width: 150px">First Name:</td>
                 <td> <input ng-model="user_profile.user_first_name" /> </td>
                </tr>
                <tr>
                 <td style="width: 150px">Last Name:</td>
                 <td> <input ng-model="user_profile.user_last_name" /> </td>
                </tr>
                <tr>
                 <td style="width: 150px">Address:</td>
                 <td> <input ng-model="user_profile.address" /> </td>
                </tr>
                <tr>
                 <td style="width: 150px">City:</td>
                 <td> <input ng-model="user_profile.city" /> </td>
                </tr>
                <tr>
                    <td><button ng-click="$root.updateUserDetails()" class="button green large">Save data</button></td>
                    <td><p ng-show="$root.updateMessage" class="info">{{ $root.updateMessage }}</p></td>
                </tr>
            </table><br>
            </form>
		<button ng-click="$root.postApartment()" class="button green large">Post an apartment</button>
		<img src="/images/preloader.gif" class="preloader" ng-show="loadingOwnerApartments" />
		<div ng-show="ownerApartments.length > 0">
			<h3>My apartments</h3>
			<table class="contents">
				<thead>
					<tr>
						<th>Title</th>
						<th>Address</th>
						<th>Posted On</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="apartment in ownerApartments">
						<td>{{ apartment.title }}</td>
						<td>{{ apartment.address_line_1 }}, {{ apartment.city }}, {{ apartment.state }} {{ apartment.zip }}</td>
						<td>{{ apartment.created_at }}</td>
						<td ng-click="$root.deleteApartment(apartment)" class="red-color pointer">Remove</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>