/* Created by SFSU
 *
 * Modified by Manasés Galindo
 */

.button {
	padding: 10px 15px;
	text-decoration: none;
	display: block;
	text-transform: uppercase;
	font-size: 10px;
	text-align: center;
	cursor: pointer;
	border: 0;
	font-family: Montserrat;
}
.button:focus {
	outline: none;
}
.button.large {
	font-size: 14px;
	padding: 10px 15px;
}
.button.green {
	color: #fff;
	background: #26e3ad;
}
.button.green:hover {
	background: #23cb94;
}
.button.red {
	color: #fff;
	background: #e62117;
}
.button.red:hover {
	background: #d4180e;
}
.button.gray {
	color: #fff;
	background: #bdbdd3;
}
.button.gray:hover {
	background: #9999ae;
}
.button.purple {
	color: #fff;
	background: #5252c9;
}
.button.purple:hover {
	background: #4242ba;
}
.apply-now.float {
	background: #26e3ad;
	color: #fff;
	padding-top: 30px;
	line-height: 1.2em;
	font-size: 18px;
	box-sizing: border-box;
	text-align: center;
	transition: 0.15s;
	cursor: pointer;
	z-index: 2000;
}
.apply-now.float:hover {
	background: #23cb94;
	transform: scale(1.05);
}
.apply-now.float:active {
	transform: scale(0.85);
}
.apartment-post .apply-now {
	position: absolute;
	text-transform: uppercase;
	color: #26e3ad;
	font-size: 12px;
	bottom: 20px;
	right: 20px;
}
::-webkit-input-placeholder { color: #bdbdd3; font-weight: 400; }
::-moz-placeholder { color: #bdbdd3; font-weight: 400; }
:-ms-input-placeholder { color: #bdbdd3; font-weight: 400; }
:-moz-placeholder { color: #bdbdd3; font-weight: 400; }
::-webkit-scrollbar { width: 0px; background: transparent; }