@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
abbr,address,article,aside,audio,b,blockquote,body,caption,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{ margin: 0; padding: 0; border: 0; outline: 0; font-weight: 400; line-height: 1.5em; vertical-align: baseline; }

body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
	font-family: Montserrat, Sans-Serif;
}

/* universal */

.flex {
	display: flex;
	display: -webkit-flex;
}
.flex.column {
	flex-direction: column;
}
.center {
	margin: 0 25px;
	width: calc(100% - 50px);
}
select, input.box, textarea.box {
	-webkit-appearance: none;
	background-color: #f1f1f7;
	border-radius: 0;
	border: 0;
	font-family: Montserrat, Sans-Serif;
	color: #5252c9;
	padding: 10px 15px;
	font-size: 13px;
}
select {
	background: #f1f1f7 url('../images/arrow.svg') no-repeat center right+10px;
	background-size: 12px;
}
select:focus, input:focus, textarea:focus {
	outline: 0;
}

/* layout */

main.flex {
	width: 100%;
	height: 100vh;
}
.bottom {
	padding-top: 105px;
}
#topbar {
	width: 100%;
	height: 105px;
	box-shadow: 0 0 30px 0 rgba(189, 189, 211, 0.3);
	box-sizing: border-box;
	z-index: 10000;
	position: fixed;
	background: rgba(255, 255, 255, 0.92);
}
#topbar > #disclaimer {
	padding: 5px 25px;
	height: 20px;
	background: #e62117;
	color: #fff;
	width: 100%;
	text-align: center;
	font-size: 12px;
}
#topbar > .flex {
	padding: 0 25px;
	justify-content: space-between;
	align-items: center;
	height: 75px;
}
#sign-up-bar button {
	margin-left: 10px;
}
#sign-up-bar p, #sign-up-bar a {
	margin-right: 12px;
	font-size: 12px;
	color: #bdbdd3;
	padding: 7px 0;
	cursor: pointer;
	text-decoration: none;
}
#sign-up-bar p:hover, #sign-up-bar a:hover {
	color: #000;
}
aside {
	flex: 0 0 250px;
	overflow-y: scroll;
	box-sizing: border-box;
	border-right: 2px solid #f1f1f7;
	padding: 0 25px 25px 25px;
}
div#right.flex {
	align-items: center;
	flex-grow: 1;
	overflow-y: scroll;
}

/* topbar styles */

#logo {
	width: 190px;
	cursor: pointer;
}
#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.8);
	z-index: 100000;
	justify-content: center;
	overflow: scroll;
}
#overlay .form {
	padding: 30px 50px 50px 50px;
	width: 350px;
	overflow: hidden;
	background: #fff;
	box-shadow: 0 0 30px 0 rgba(189, 189, 211, 0.3);
}
#overlay #post-form.form {
	margin-top: 60px;
	height: 2700px;
	width: 450px;
}
#overlay #login-form.form {
	margin-top: 100px;
	height: 320px;
}
#overlay #signup-form.form {
	margin-top: 40px;
	height: 600px;
}
#overlay .form > * {
	width: 100%;
	margin: 5px 0;
	box-sizing: border-box;
}
#overlay .form > label {
	margin-top: 20px;
	display: block;
}
#overlay .form > .button {
	margin-top: 20px;
}
#overlay .form > .box {
	padding: 15px;
	font-size: 14px;
}
#overlay #close {
	position: fixed;
	top: 50px;
	right: 50px;
	width: 30px;
	height: 30px;
	background: url('../images/cross.svg') no-repeat center;
}

/* aside styles */

#search-bar {
	height: 40px;
	width: 100%;
	font-size: 14px;
	font-family: Montserrat, Sans-Serif;
	color: #000;
	margin-top: 25px;
	font-weight: 400;
	border: 0;
	border-bottom: 2px solid #f1f1f7;
}
#search-bar:focus {
	outline: 0;
	border-color: #26e3ad;
}
aside h3 {
	text-transform: uppercase;
	font-size: 10px;
	color: #bdbdd3;
	font-weight: 400;
	margin: 25px 0 5px;
}
aside ul {
	list-style-type: none;
}
aside ul li {
	color: #bdbdd3;
	font-size: 13px;
	padding: 6px 0 6px 30px;
	position: relative;
	cursor: pointer;
}
aside ul li:before {
	display: block;
	content: '';
	width: 15px;
	height: 15px;
	border: 2px solid #bdbdd3;
	position: absolute;
	left: 0;
	top: 5px;
}
aside ul li.active, aside ul li:hover {
	color: #5252c9;
}
aside ul li.active:before {
	border-color: #26e3ad;
	background: url('../images/check.svg') no-repeat center;
	background-size: 12px;
}
aside ul li:hover:before {
	border-color: #26e3ad;
}
aside .price {
	justify-content: space-between;
}
aside .price > input {
	width: 33%;
}
aside .button {
	margin-top: 15px;
}

/* content style */

#controls {
	width: 100%;
	justify-content: space-between;
	border-bottom: 2px solid #f1f1f7;
	color: #bdbdd3;
	text-transform: uppercase;
	font-size: 11px;
	margin: 25px 0 10px;
}
#controls > div {
	width: 33.33%;
	margin-bottom: -2px;
}
#list-view.flex {
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 50px;
}
#list-view #no-match {
    padding-top: 150px;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    color: #bdbdd3;
}
#map-view.flex {
	height: 700px;
	width: 100%;
}
#results, #select-views > div, #sort > div {
	padding: 10px 0 12px 0;
}
#controls > #select-views {
	justify-content: center;
}
#controls > #select-views > div {
	margin: 0 8px;
}
#controls > #select-views > div:hover, #sort > div:hover {
	color: #000;
	cursor: pointer;
}
#controls > #select-views > div.active {
	color: #000;
	border-bottom: 2px solid #5252c9;
}
#controls > #sort {
	justify-content: flex-end;
}
#sort > div {
	margin-left: 10px;
}
.apartment-post {
	width: 400px;
	margin: 10px;
	box-shadow: 0 0 30px 0 rgba(189, 189, 211, 0.3);
	transition: 0.1s;
}
.apartment-post:hover {
	transform: scale(1.02);
}
.image {
	width: 100%;
	height: 200px;
	background-size: 100% 200px;
	position: relative;
	background-color: #dedee9;
}
.noimage .image:after {
	display: block;
	content: 'No image';
	text-transform: uppercase;
	color: #bdbdd3;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	text-align: center;
	top: 40%;
}
.image > .price {
	position: absolute;
	bottom: 10px;
	right: 10px;
	background: #5252c9;
	color: #fff;
	padding: 7px 10px;
	font-size: 13px;
}
#apartment-detail .image > .price {
	font-size: 16px;
	padding: 10px 15px;
	bottom: 20px;
	right: 20px;
}
.image > date {
	color: #fff;
	position: absolute;
	bottom: 10px;
	left: 20px;
	font-size: 10px;
}
#apartment-detail .image > date {
	bottom: 23px;
	left: 30px;
	font-size: 15px;
}
.apartment-post > .content {
	padding: 20px;
	position: relative;
}
.apartment-post h3 a {
	font-size: 15px;
	color: #000;
	text-decoration: none;
}
.apartment-post .details {
	font-size: 11px;
	color: #bdbdd3;
}
#apartment-detail .center {
	width: 850px;
	margin: 0 auto;
}
#apartment-detail h1 {
	margin: 20px 0 10px 0;
}
#apartment-detail {
	justify-content: center;
	align-items: center;
}
#apartment-detail .image {
	width: 100%;
	height: 400px;
	background-size: 100% 400px;
	position: relative;
}
#apartment-detail .description {
	margin: 20px 0 30px 0;
	line-height: 1.6em;
	font-family: Arial, Sans-Serif;
}
#apartment-detail .items {
	justify-content: space-between;
	margin: 10px 0 20px 0;
}
#apartment-detail .items.attr-1 .item {
	width: 24%;
	padding: 15px 0;
	font-size: 15px;
	text-align: center;
	color: #bdbdd3;
	border-top: 2px solid #e2e7ee;
	border-bottom: 2px solid #e2e7ee;
}
#apartment-detail .items.attr-1 .item.positive {
	color: #000;
}
#apartment-detail .items.attr-2 .item {
	width: 49%;
	padding: 20px 0;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	background: #f3f6f8;
}
#apartment-detail .items.attr-2 .item span {
	color: #bdbdd3;
	font-weight: light;
	font-size: 14px;
}
.apartment-post .apply-now {
	position: absolute;
	text-transform: uppercase;
	color: #26e3ad;
	font-size: 12px;
	bottom: 20px;
	right: 20px;
}
map {
	width: 100%;
	height: 100%;
}
.alert {
	color: #e62117;
	text-align: center;
	margin-bottom: 20px;
}
label.required {
	position: relative;
	padding-left: 18px;
}
label.required:after {
	content: '*';
	display: block;
	position: absolute;
	left: 0;
	top: 2px;
	font-size: 22px;
	width: 10px;
	height: 10px;
	color: #e62117;
}
.thumb {
	width: 100%;
}
form[name="uploadForm"] {
	margin-top: 20px !important;
	display: block;
	padding: 20px;
	border: 2px dashed #bdbdd3;
}
form[name="uploadForm"] label {
	display: block;
	width: 100%;
}
form[name="uploadForm"] input[type="file"] {
	display: block;
	background: #f1f1f7;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	margin: 10px 0;
}
form[name="uploadForm"] .flex {
	justify-content: space-between;
}
input.error, select.error, textarea.error {
	border: 2px solid #e62117;
}
#post-form p.error {
	text-align: center;
	margin: 10px 0;
	color: #e62117;
}