@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
abbr,address,article,aside,audio,b,blockquote,body,caption,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{ margin: 0; padding: 0; border: 0; outline: 0; font-weight: 400; line-height: 1.5em; vertical-align: baseline; }

body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
	font-family: Montserrat, Sans-Serif;
}

/* universal */

.flex {
	display: flex;
	display: -webkit-flex;
}
.center {
	margin: 0 25px;
	width: calc(100% - 50px);
}
select, input.box {
	-webkit-appearance: none;
	background-color: #f1f1f7;
	border-radius: 0;
	border: 0;
	font-family: Montserrat, Sans-Serif;
	color: #5252c9;
	padding: 10px 15px;
	font-size: 13px;
}
select {
	background: #f1f1f7 url('../images/arrow.svg') no-repeat center right+10px;
	background-size: 12px;
}
select:focus, input:focus {
	outline: 0;
}

/* layout */

main.flex {
	width: 100%;
	height: 100vh;
	flex-direction: column;
}
#content {
	padding-top: 75px;
}
#topbar {
	width: 100%;
	height: 75px;
	box-shadow: 0 0 30px 0 rgba(189, 189, 211, 0.3);
	padding: 0 25px;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
	z-index: 10000;
	position: fixed;
	background: rgba(255, 255, 255, 0.92);
}
aside {
	flex: 0 0 250px;
	overflow-y: scroll;
	box-sizing: border-box;
	flex-direction: column;
	border-right: 2px solid #f1f1f7;
	padding: 0 25px 25px 25px;
}
div#right.flex {
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	overflow-y: scroll;
}

/* topbar styles */

#logo {
	width: 190px;
}

/* aside styles */

#search-bar {
	height: 40px;
	width: 100%;
	font-size: 14px;
	font-family: Montserrat, Sans-Serif;
	color: #000;
	margin-top: 25px;
	font-weight: 400;
	border: 0;
	border-bottom: 2px solid #f1f1f7;
}
#search-bar:focus {
	outline: 0;
	border-color: #26e3ad;
}
aside h3 {
	text-transform: uppercase;
	font-size: 10px;
	color: #bdbdd3;
	font-weight: 400;
	margin: 25px 0 5px;
}
aside ul {
	list-style-type: none;
}
aside ul li {
	color: #bdbdd3;
	font-size: 13px;
	padding: 6px 0 6px 30px;
	position: relative;
	cursor: pointer;
}
aside ul li:before {
	display: block;
	content: '';
	width: 15px;
	height: 15px;
	border: 2px solid #bdbdd3;
	position: absolute;
	left: 0;
	top: 5px;
}
aside ul li.active, aside ul li:hover {
	color: #5252c9;
}
aside ul li.active:before {
	border-color: #26e3ad;
	background: url('../images/check.svg') no-repeat center;
	background-size: 12px;
}
aside ul li:hover:before {
	border-color: #26e3ad;
}
aside .price {
	justify-content: space-between;
}
aside .price > input {
	width: 33%;
}

/* content style */

#controls {
	width: 100%;
	justify-content: space-between;
	border-bottom: 2px solid #f1f1f7;
	color: #bdbdd3;
	text-transform: uppercase;
	font-size: 11px;
	margin: 25px 0 10px;
}
#controls > div {
	width: 33.33%;
	margin-bottom: -2px;
}
#list-view.flex {
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 50px;
}
#list-view #no-match {
    padding-top: 150px;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    color: #bdbdd3;
}
#map-view.flex {
	width: 100%;
}
#results, #select-views > div, #sort > div {
	padding: 10px 0 12px 0;
}
#controls > #select-views {
	justify-content: center;
}
#controls > #select-views > div {
	margin: 0 8px;
}
#controls > #select-views > div:hover, #sort > div:hover {
	color: #000;
	cursor: pointer;
}
#controls > #select-views > div.active {
	color: #000;
	border-bottom: 2px solid #5252c9;
}
#controls > #sort {
	justify-content: flex-end;
}
#sort > div {
	margin-left: 10px;
}
.apartment-post {
	width: 400px;
	margin: 10px;
	box-shadow: 0 0 30px 0 rgba(189, 189, 211, 0.3);
	transition: 0.1s;
}
.apartment-post:hover {
	transform: scale(1.02);
}
.apartment-post > .image {
	width: 100%;
	height: 200px;
	background-size: 100% 200px;
	position: relative;
}
.apartment-post > .image > .price {
	position: absolute;
	bottom: 10px;
	right: 10px;
	background: #5252c9;
	color: #fff;
	padding: 7px 10px;
	font-size: 13px;
}
.apartment-post > .image > date {
	color: #fff;
	position: absolute;
	bottom: 10px;
	left: 20px;
	font-size: 10px;
}
.apartment-post > .content {
	padding: 20px;
	position: relative;
}
.apartment-post h3 a {
	font-size: 15px;
	color: #000;
	text-decoration: none;
}
.apartment-post .details {
	font-size: 11px;
	color: #bdbdd3;
}
.apartment-post .apply-now {
	position: absolute;
	text-transform: uppercase;
	color: #26e3ad;
	font-size: 12px;
	bottom: 20px;
	right: 20px;
}