<div id="overlay" class="flex" >
	<p ng-click="showApplyNow = false;" id="close"></p>
	<div class="form" id="post-form" ng-controller="apartmentController">
		<label class="required">Receiver</label>
		<input class="box" type="text" placeholder="Mr. Lord" />
		<label class="required">Sender</label>
		<input class="box" type="text" placeholder="Tom" />
		<label class="required">Property name</label>
		<input class="box" type="text" ng-model="apartment.title" />
		<label class="required">Subject</label>
		<input class="box" type="text" placeholder="Interest in your house" />
		<label class="required">Your message</label>
		<textarea class="box" cols="30" rows="10"></textarea>
		<label>Phone number</label>
		<input class="box" type="text" placeholder="0" />
		<a class="button green large">Sent the application</a>
	</div>
</div>