<div id="overlay" class="flex">
	<p ng-click="$root.showLogin = false; $root.loginMessage = '';" id="close"></p>
	<div class="form" id="login-form">
		<p ng-show="$root.loginMessage" class="alert">{{ $root.loginMessage }}</p>
		<label>Email</label>
		<input class="box" type="text" ng-model="$root.username" placeholder="your@email.com" />
		<label>Password</label>
		<input class="box" type="password" ng-model="$root.password" />
		<a ng-click="$root.login()" class="button green large">Log in</a>
	</div>
</div>